{% extends './layout.html.j2' %}

{% block title %}Password Hint{% endblock title %}

{% block content %}
    <h1>Your Password Hint:</h1>
    <h3 class="mt-5 ms-5">"{{ current_user.pw_hint }}"</h3>
{% endblock content %}