{% extends './layout.html.j2' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
    <br>
    <div class="row justify-content-evenly">
        {# START LOGIN W/ USERNAME #}
        <form class="card col-5 py-4 px-5" action="{{ url_for('auth.login_username') }}" method="POST">
            {# NEXT PAGE LINE #}
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
            <h3>Login With Your Username</h3>
            <div class="mb-3 mt-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button class="btn btn-primary mt-3 mb-4" type="submit">Submit</button>
        </form>
        {# END LOGIN W/ USERNAME #}
        <br><br>
        {# START LOGIN W/ EMAIL #}
        <form class="card col-5 py-4 px-5" action="{{ url_for('auth.login_email') }}" method="POST">
            {# NEXT PAGE LINE #}
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
            <h3><strong>OR</strong> Login With Your Email Address</h3>
            <div class="mb-3 mt-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button class="btn btn-primary mt-3 mb-4" type="submit">Submit</button>
        </form>
        {# END LOGIN W/ EMAIL #}
    </div>
    <p class="mt-4 ms-5">Need to sign up for an account? <a href="{{ url_for('auth.register') }}"><strong>CLICK HERE</strong></a></p>
{% endblock content %}