{% extends './layout.html.j2' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
    <br>
    <br>
    <div class="">
        {# START LOGIN W/ USERNAME #}
        <form action="{{ url_for('auth.login_username') }}" method="POST">
            {# NEXT PAGE LINE #}
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
            <h3>Login With Your Username</h3>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {# END LOGIN W/ USERNAME #}
        <br><br>
        {# START LOGIN W/ EMAIL #}
        <form action="{{ url_for('auth.login_email') }}" method="POST">
            {# NEXT PAGE LINE #}
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
            <h3>OR Login With Your Email Address</h3>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {# END LOGIN W/ EMAIL #}
        <br><br>
        <p>Need to sign up for an account? <a href="{{ url_for('auth.register') }}">CLICK HERE</a></p>
    </div>
{% endblock content %}