{% extends './layout.html.j2' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<h1>Reset Your Password</h1>
<br>
<p>Reminder: Passwords ARE case-sensitive!</p>
<form action="{{ url_for('auth.reset_password') }}" method="POST">
    <div class="mb-3">
        <label for="currPass" class="form-label fs-4">Current Password</label>
        <input type="password" class="form-control" id="currPass" name="currPass">
    </div>
    <div class="mb-3">
        <label for="newPass" class="form-label fs-4">New Password</label>
        <input type="password" class="form-control" id="newPass" name="newPass">
    </div>
    <div class="mb-3">
        <label for="confirmNew" class="form-label fs-4">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmNew" name="confirmNew">
    </div>
    <button type="submit" class="btn btn-primary fs-4">Submit</button>
</form>
{% endblock content %}