{% extends './layout.html.j2' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<h1>Reset Your Password</h1>
<br>
<p><strong>*</strong> denotes a required field</p>
<p>Reminder: Passwords ARE case-sensitive!</p>
<form action="{{ url_for('auth.reset_password') }}" method="POST">
    <div class="mb-3 mt-4">
        <label for="currPass" class="form-label fs-4">Current Password<strong>*</strong></label>
        <input type="password" class="form-control" id="currPass" name="currPass">
        <div id="passHelp" class="form-text ms-2"><a href="{{ url_for('auth.hint') }}" target="_blank">(Click here if you'd like to view your password hint.)</a></div>
    </div>
    <div class="mb-3">
        <label for="newPass" class="form-label fs-4">New Password<strong>*</strong></label>
        <input type="password" class="form-control" id="newPass" name="newPass">
    </div>
    <div class="mb-3">
        <label for="confirmNew" class="form-label fs-4">Confirm New Password<strong>*</strong></label>
        <input type="password" class="form-control" id="confirmNew" name="confirmNew">
    </div>
    <div class="mb-5">
        <label for="passHint" class="form-label fs-4">New Password Hint</label>
        <input type="text" class="form-control" id="passHint" name="passHint">
    </div>
    <button type="submit" class="btn btn-primary fs-4">Submit</button>
</form>
{% endblock content %}